@font-face {
  font-family: Baskervville;
  src: url(../../public/fonts/Baskervville-VariableFont_wght.ttf);
}
@font-face {
  font-family: Amorista;
  src: url(../../public/fonts/Amorista.ttf);
}
html,
body {
  font-size: 14px;
  font-weight: 500;
  font-family: "Baskervville", serif;
  font-display: swap;
  color: #b9a1a1;
}
.calli{
  font-family: Amorista;
}
@media (min-width: 750px) {
  html,
  body {
    font-size: 0.94vw;
  }
}
@media (min-width: 1440px) {
  html,
  body {
    font-size: 1vw;
  }
}
